.DS_Store
_site
*.pyc
.sass-cache
.jekyll-metadata
drafts
administrative
solution
solutions
exams
.ipynb_checkpoints
__pycache__
Gemfile.lock
cpd.db
.vscode
node_modules
course-files/**/results/*.db
#course-files/**/results/*.txt
course-files/**/results/*.log
course-files/**/results/*.jpg
course-files/**/results/*.png
course-files/**/results/*.json
course-files/**/results/*.html
my_token.py
spider.sqlite
.env
