    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{site.baseurl}}/assets/images/favicon.ico" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/main.css">
    {% for url in page.stylesheets %}
        <link rel="stylesheet" href="{{ url }}">
    {% endfor %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-CV6YK85T5J"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-CV6YK85T5J');
    </script>
    <!-- survey test! -->
    <!-- <script async="" defer="" src="//survey.g.doubleclick.net/async_survey?site=ysav42oqixjzfrkz4ch5g3ge4q"></script> -->