<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Flexbox Exercise</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/static/cards.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <ul>
        <li>
            <a href="/">home</a>
        </li>
        <li>
            <a href="/demo1">/demo1</a>
        </li>
        <li>
            <a href="/demo2">/demo2</a>
        </li>
    </ul>
  
</body>
</html>
