---
layout: default
toc: 0
---
{% assign lecture = page %}
{% if page.due_date %}
    {% assign dateStart = site.term_start_date | date: '%s' %}
    {% assign lectureDate = page.due_date | date: '%s' %}
    {% assign diffSeconds = lectureDate | minus: dateStart %}
    {% assign diffDays = diffSeconds | divided_by: 3600 | divided_by: 24 | plus: 1 %}
    {% assign week = diffDays | divided_by: 7 | plus: 1 %}
{% endif %}
<article class="lecture">

    {% if page.due_date and page.type != "tutorial" %}
    <h2>
        Week {{ week }}: {{ page.due_date  | date: "%a, %b %-d" }}
    </h2>
    {% endif %}

    {% if page.toc %}
    <div class="outline">
        <h3>Overview</h3>

        {% include toc.html html=content class='toc' ordered=true %}
    </div>
    {% endif %}

    {% if page.slides_url or page.lecture_files %}
        <ul>
            {% if page.slides_url %}
            <li>
                <a href="{{ page.slides_url }}" target="_blank">slides</a>
            </li>
            {% endif %}
            {% if page.lecture_files %}
            <li>
                <a href="{{ page.lecture_files }}" target="_blank">lecture files</a>
            </li>
            {% endif %}
        </ul>
    {% endif %}


    {% if page.readings %}
        <h2>Readings</h2>
        {% include page_readings.html %} 
    {% endif %}
    

    <section>{{ content }}</section>

</article>
