---
layout: default
---
{{content}}
<section class="schedule">
    <!-- gets a distinct list of dates from lectures and assignments -->
    {% assign everything = site.assignments | concat: site.lectures %}
    {% assign dates = everything | sort: 'due_date'| map: 'due_date' | uniq %}
    {% assign labs = site.assignments | where: 'type', 'lab' %}
    {% assign main_listing = site.lectures | concat: labs %}
    <p>
        Note: This schedule is subject to change (as needed).
    <table>
        <thead>
            <tr>
                <th>Week</th>
                <th></th>
                <th>Topic</th>
                <th>Due</th>
            </tr>
        </thead>
        <tbody>
        {% assign last_week = 0 %}
        {% for date in dates %}
            {% assign lecture = main_listing | where: 'due_date', date | last %}
            <!-- Calculate the Week -->
            {% assign dateStart = site.term_start_date | date: '%s' %}
            {% assign lectureDate = date | date: '%s' %}
            {% assign diffSeconds = lectureDate | minus: dateStart %}
            {% assign diffDays = diffSeconds | divided_by: 3600 | divided_by: 24 | plus: 1 %}
            {% assign week = diffDays | divided_by: 7 | plus: 1 %}
            <tr>
                <th>
                {% if week != last_week %}
                    Week {{week}}
                {% endif %}
                <span class="due-date">
                    {{ date | date: "%m/%d/%y" }}
                </span>
                </th>
                {% if lecture %}
                    <!-- If lecture -->
                    <td> 
                        {{ date | date: "%a, %m/%d" }}
                    </td>
                    <td>
                        {% assign className = 'lec' %}
                        {% assign prefix = None %}
                        {% if lecture.num  %}
                            {% assign prefix = "Lesson " | append: lecture.num %}
                        {% endif %} 
                        {% if lecture.type == 'lab' %}
                            {% assign className = 'lab' %}
                            {% assign prefix = "Lab " | append: lecture.num %}
                        {% endif %} 
                         
                        {% if lecture.type == 'lab' %}
                            {{ prefix }}
                        {% elsif lecture.draft == 1 and prefix %}
                            <span class="badge">
                                {{ prefix }}
                            </span>
                            {{ lecture.title }} 
                        {% elsif prefix %} 
                            <a class="{{ className }}" href="{{site.baseurl}}{{lecture.url}}">
                                {{ prefix }} <i class="fas fa-link"></i>
                            </a>
                            {{ lecture.title }} 
                        {% endif %}
                    </td>
                {% else %}
                    <!-- If no lecture -->
                    <td>{{ date | date: "%a, %m/%d" }}</td>
                    <td></td>
                {% endif %}
                <td>
                    {% assign assignments = site.assignments | where: 'due_date', date %}
                    {% for assignment in assignments %}
                        {% assign classname = "pj" %}
                        {% if assignment.type == "homework" %}
                            {% assign classname = "hw" %}
                        {% endif %} 
                        {% if assignment.type == "lab" %}
                            {% assign classname = "lab" %}
                        {% endif %} 
                        
                        {% if assignment.draft == 1 %}
                            <strong>{{ assignment.abbreviation }}:</strong>
                        {% else %} 
                            <a href="{{site.baseurl}}{{assignment.url}}" class="{{classname}}">
                                {{ assignment.abbreviation }}
                                <i class="fa fa-link"></i>
                            </a>
                        {% endif %} 
                        {{ assignment.title }}<br>
                    {% endfor %}
                </td>
            </tr>
            {% assign last_week = week %}
        {% endfor %}
        </tbody>
    </table>

</section>
